@import 'tailwindcss';

/* {
  outline: 1px solid red;
}*/

@theme {
  --font-family-sans: var(--font-inter), system-ui, sans-serif;
}
::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

@layer components {
  .animation {
    @apply
      relative
      w-fit
      py-1 px-2 m-0
      transition-all ease-in-out duration-300
      hover:text-neutral-600
      after:absolute after:bottom-1 after:left-2 after:right-2
      after:h-[2px]
      after:origin-center after:scale-x-0
      after:bg-current
      after:transition-all ease-in-out after:duration-300
      hover:after:scale-x-100
      hover:after:bg-neutral-600;
  }
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: light) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: light;
  }
}

html {
  min-width: 360px;
}

.inline-note {
  @apply
    text-[0.55em]
    tracking-wider
    mr-[0.40em]
    relative;
  top: -0.6em;
}

.fancy-underline {
  @apply 
    underline
    transition-all ease-in-out duration-300
    hover:text-neutral-600;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-800;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 rounded-lg overflow-x-auto border border-neutral-800 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
