body {
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    position: absolute;
    display: table;
}

p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

body {
    background-color: #FFFAED;
}